*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cubic-font: 'Gemunu Libre', sans-serif;
    --lazy-font: 'Comforter Brush', cursive;

    --ticket: #f9f0df;
    --layover: rgba(0, 0, 0, 0.5);
    --btn: #fbb13c;
}

body{
    font-family: var(--cubic-font);
    background-image: url('https://wallpaperaccess.com/full/1457224.jpg');
    background-size: cover;
}

/* UTILITIES */
.container{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: var(--layover);
    padding: 25px 0;
}

.d-none{
    display: none;
}

#app-js{
    text-align: center;
}

/* INPUTS */
label{
    color: white;
    font-size: 2rem;
    border-bottom: 2px solid white;
}

input[type="text"]{
    display: inline-block;
    margin: 50px 20px;
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-align: center;
    color: white;
}

button{
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(#d7816a, #bd4f6c);
    padding: 15px;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    font-size: 2rem;
}

/* TICKET */

.container .full-ticket{
    display: flex;
    width: 40%;
    margin: 0 auto;
    animation: slide 20s infinite;
    animation-timing-function: linear;
}

@keyframes slide{
    0%{
        transform: translate(180%,0);
    }
    100%{
        transform: translate(-180%,0);
    }
}

.full-ticket .ticket-left{
    width: 15%;
    background-color: var(--ticket);
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.full-ticket .ticket-left .convalidate{
    text-align: center;
    font-size: 25px;
    width: max-content;
}

.full-ticket .ticket-middle{
    width: 60%;
    background-color: var(--ticket);
    padding: 10px 0;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
}

.full-ticket .ticket-middle .wrapper-middle{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.full-ticket .ticket-middle .wrapper-middle hr{
    margin: 5px 0;
}

.full-ticket .ticket-middle .wrapper-middle h1{
    font-family: var(--lazy-font);
    font-size: 50px;
    margin: 5px 0;
}

.full-ticket .ticket-middle .wrapper-middle .infobox-middle{
    display: flex;
    justify-content: space-between;
}

.full-ticket .ticket-middle .wrapper-middle .infobox-middle #ticket-price{
    color: saddlebrown;
    text-decoration: underline;
}

.full-ticket .ticket-right{
    width: 25%;
    background-color: var(--ticket);
    padding: 10px 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.full-ticket .ticket-right .wrapper-right{
    width: 90%;
    margin: 0 auto;
}

.full-ticket .ticket-right .wrapper-right img{
    width: 100%;
    margin: 5px 0;
}